* {
    padding: 0;
    margin: 0;
}

body {

    overflow-x: hidden;
    background-color: black;
    color: white;
    font-family: sans-serif;
}

#main {
    position: relative;
    height: 50vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(23, 22, 22) 100%);

    z-index: 100;
}

#main h1 {
    font-size: 100px;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h2 {
    margin-left: 50px;
}

.header nav {
    margin-right: 50px;
    display: flex;
    justify-content: end;
    gap: 20px;
}

.socials {
    position: absolute;
    bottom: 0;
    right: 0;
}

.socials nav {
    margin-right: 50px;
    display: flex;
    justify-content: end;
    gap: 20px;
}

a {
    text-decoration: none;
    color: rgb(202, 202, 202);
    font-size: 14px;
    cursor: pointer;
}
a:hover{
    color: white;
    transform: scale(1.03);
}

#about {
    width: 100vw;
    height: 45vh;
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: black;
    z-index: 100;
}

#about p {
    margin-right: 5vw;
    width: 40%;
    max-width: 600px;
    text-align: justify;
    font-size: 16px;
}

/* #random {
    width: 100vw;
    height: 90vh;
    background-image: url("./1.jpg");
    background-attachment: fixed;
} */

#video {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#video video {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
    pointer-events: none;
}

#txt{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: end;
}
#txt>p{
    width: 500px;
    text-align: justify;
    margin-right: 5vw;
    margin-bottom: 10vh;
    text-shadow: 1px 1px 2px black;
}

#services {
    padding: 10vh 0;
    height: auto;
    width: 100vw;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5vh;
    z-index: 100;
    background-color: black;
}

.service {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 350px;
    /* min-height: 350px; */
    /* max-height: 500px; */
 
    margin: auto;
    /* border: 1px solid rgba(255, 255, 255, 0.295); */
    /* box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.082); */
    padding: 25px;
    /* cursor: pointer; */
}

.service:hover{
box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.082);
}

.service>h2{
font-size: 18px;
letter-spacing: 1.5px;
}
.service>p{
    font-size: 13px;
    letter-spacing: 1.5px;
    font-weight: 100;
    text-align: justify;
}

#footer{
    background-color: black;
    height: 40vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#footer>h1{
    font-size: 50px;
}
.navFooter{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media(max-width: 900px){

    #services{
        grid-template-columns: repeat(2, 1fr);
       
    }
}

@media(max-width: 750px){

    #services{
        grid-template-columns: repeat(1, 1fr);
       
    }
}



/* responsividade main */
/* ?pensar se diminui video na responsividade */

/* personalizar scroll vertical */

/* Nosso Diferencial
Na Agência X , oferecemos soluções completas e personalizadas para cada cliente. Nosso
foco é entregar em cada serviço, combinando criatividade, estratégia e inovação. Ajudamos
sua marca a se destacar no ambiente digital, com resultados duradouros e mensuráveis. */